<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>loop</title>
</head>
<body>
    <h1>
        {{ costumers }}
    </h1>
    <h2>
        <ul>
        {% for costumer in costumers %}
            <li>{{ costumer }} </li>
        {% endfor %}
        </ul>
    </h2> 
    <h2>
        <ul>
            {% for number in numbers %}
               <li> {{ number }} </li>
            {% endfor %}
        </ul>
    </h2>
</body>
</html>